.wrapper {
  max-width: var(--max-width);
  padding: 0 var(--row-padding) 40px var(--row-padding);
  margin: 0 auto;
  width: 100%;
  min-height: 400px;
}

.list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: -20px -10px 0 -10px;

  &__game {
    flex: 1 0 100%;
    max-width: 25%;
    padding: 0 10px;
    margin-top: 20px;

    @media (max-width: 900px) {
      max-width: 33.3%;
    }

    @media (max-width: 700px) {
      max-width: 50%;
    }

    @media (max-width: 480px) {
      max-width: 100%;
    }

    &_row {
      display: block;

      &:hover {
        .list__game_action {
          opacity: 1;
        }
      }
    }

    &_photo {
      position: relative;
      width: 100%;
      height: 200px;
      padding: 5px;
      background: var(--primary-surface);

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
      }

      &___nophoto {
        background: var(--surface-bg-lightest) url("../../public/meeple-stub-icon.svg") center center no-repeat;
        background-size: contain;

        img {
          display: none;
        }
      }
    }

    &_title {
      font-weight: 500;
    }

    &_info {
      margin-top: 10px;
    }

    &_action {
      opacity: 0;
      transition: opacity 0.2s linear 0s;
    }

    &_button_add {
      margin-top: 2px;

      button {
        background: none;
        outline: none;
        box-shadow: none;
        font-family: 'Open Sans', sans-serif;
        color: var(--primary);
        font-size: 15px;
        line-height: 24px;
        font-weight: 500;
        margin-right: 8px;
      }

      :global(.tooltip-title) {
        width: 16px;
        height: 16px;
        line-height: 16px;
        font-size: 14px;
        text-align: center;
        font-weight: 600;
        border-radius: 100%;
        color: var(--primary);
        background: rgba(var(--primary_rgb), 0.3);
      }
    }
  }
}