.react-datepicker {
  border-color: rgba(var(--primary_rgb), 0.3);

  * {
    font-family: 'Open Sans', sans-serif;
  }

  &__header {
    border-color: rgba(var(--primary_rgb), 0.3);
    background-color: rgba(var(--primary_rgb), 0.1);
  }

  .react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header {
    font-weight: 600;
    text-transform: capitalize;
  }

  .react-datepicker__day--selected,
  .react-datepicker__day--in-selecting-range,
  .react-datepicker__day--in-range,
  .react-datepicker__month-text--selected,
  .react-datepicker__month-text--in-selecting-range,
  .react-datepicker__month-text--in-range,
  .react-datepicker__quarter-text--selected,
  .react-datepicker__quarter-text--in-selecting-range,
  .react-datepicker__quarter-text--in-range,
  .react-datepicker__year-text--selected,
  .react-datepicker__year-text--in-selecting-range,
  .react-datepicker__year-text--in-range {
    background-color: rgba(var(--primary_rgb), 0.7);
  }

  .react-datepicker__year-read-view--down-arrow, .react-datepicker__month-read-view--down-arrow, .react-datepicker__month-year-read-view--down-arrow, .react-datepicker__navigation-icon::before {
    border-color: rgba(var(--primary_rgb), 0.7);
    border-width: 2px 2px 0 0;
  }

  .react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected, .react-datepicker__year-text--keyboard-selected {
    background-color: transparent;
  }

  &-wrapper {
    width: 100%;
  }
}