.wrapper {
  max-width: var(--max-width);
  padding: 0 var(--row-padding) 40px var(--row-padding);
  margin: 0 auto;
  width: 100%;
  min-height: 400px;
}

.list {
  position: relative;

  &__game {
    display: flex;
    flex-wrap: wrap;

    &_photo {
      width: 40px;
      height: 40px;
      border: 2px solid rgba(var(--primary_rgb), 0.2);

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
      }
    }

    &_title {
      padding-left: 10px;
    }

    &_info {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
  }
}